<template>
  <v-container >
    <v-col cols="12" justify="center" align="center">
        <div id="titulo" > ABOUT US </div>
      <v-col id="subtitulo" col="12"> 
        "Somos una productora audiovisual conformada por seis jóvenes con la finalidad de entretener al público con piezas audiovisuales innovadoras, manteniendo un estilo y formato único. La base de nuestro contenido audiovisual es el drama como género principal, involucrando los sentimientos, emociones y problemas que nuestro público podría atreves para que exista un vínculo con nuestros personajes. 
        El proceso de la creación de los proyectos es la preproducción, producción y postproducción"
      </v-col>
    </v-col>
  </v-container>
  
</template>

