<template>
  <v-container fluid>
      <v-col cols="12" justify="center" align="center">
        <div id="titulo" > TEAM OF ACTORS </div>
        <v-row>
            <v-col cols="3">
                <v-img src="/actors/FERNANDO.jpg" width="360"/>
                <div class="text-subtitle-1 font-weight-black pt-3"> FERNANDO LAZO </div>
            </v-col>

            <v-col cols="3">
                <v-img src="/actors/ALONSO.jpg" width="360"/>
                <div class="text-subtitle-1 font-weight-black pt-3"> ALONSO MARTINEZ</div>
            </v-col>

            <v-col cols="3">
                <v-img src="/actors/SEPHORA.jpg" width="360"/>
                <div class="text-subtitle-1 font-weight-black pt-3"> SEFORA LAVALLE </div>
            </v-col>

            <v-col cols="3">
                <v-img src="/actors/VALERIA.jpg" width="360"/>
                <div class="text-subtitle-1 font-weight-black pt-3"> FLOR LEIVA</div>
            </v-col>
        </v-row>
    </v-col>
  </v-container>
</template>


