<template>
  <v-footer
    padless
  >
    <v-card
      class="indigo lighten-1 white--text text-center flex"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-3 white--text"
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Taller de Realización</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
      icons: [
        'mdi-youtube',
        'mdi-gmail',
        'mdi-phone',
      ],
    }),
  }
</script>