<template>
  <v-card class="pb-9">
    <v-app-bar
      id="home-app-bar"
      color="#232164"
      elevation="1"
      height="80"
      dark
      fixed
    >
      <v-app-bar-nav-icon><v-img src="/logo.png" width="12" style=""/></v-app-bar-nav-icon>

      <v-toolbar-title>JAX Producciones</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-app-bar>
  </v-card>
</template>

