<template>
  <v-container fluid>
    <v-col cols="12" justify="center" align="center">
        <div id="titulo" > OUR PROJECTS </div>
        <v-row>
            <v-col cols="6">
                <div class="text-h6 pb-4">Octubre / PrintFood</div>
                <youtube video-id="EDpoDqv0uSU" player-width="520" player-height="320"></youtube>
            </v-col>
            <v-col cols="6">
              <div class="text-h6 pb-4">Septiembre / Presentación de personajes</div>
                <youtube video-id="fQcKpCR60wI" player-width="520" player-height="320"></youtube>
            </v-col>
        </v-row>
    </v-col>
  </v-container>
</template>
