<template>
  <v-container >
    <v-col cols="12" justify="center" align="center">
      <div id="titulo" > OUR PROCESS </div>
      <v-img src="/process.png" width="100%"/>
    </v-col>
  </v-container>
</template>

