<template>
  <v-container >
    <v-col cols="12" justify="center" >
        <div id="titulo" class="text-center"> STORYLINE / SHOOTING PHOTOGRAPHS </div>
      <v-row>
        <v-col col="6" align-self="center">
            <div id="subtitulo" class="text-h5">
              Cuatro amigos se juntan en una videollamada para celebrar el cumpleaños de Pedro. Este encuentra un celular, le cuenta a sus amigos y revisan su contenido. Llaman al número encontrado y comienzan a fallar las cámaras como la iluminación, desapareciendo uno a uno.
            </div>
        </v-col>
        <v-col col="6"> 
          <v-card max-width="600" class="mx-auto">
          <v-container class="pa-1">
          <v-item-group multiple >
                  <v-row>
                  <v-col
                      v-for="(item, i) in items"
                      :key="i"
                      cols="12"
                      md="6"
                  >
                      <v-item v-slot="{ active, toggle }">
                      <v-img
                          :src=item.src
                          width="400"
                          height="180"
                          class="text-right pa-2"
                          @click="toggle"
                      >
                          <v-btn
                          icon
                          dark
                          >
                          <v-icon>
                              {{ active ? 'mdi-heart' : 'mdi-heart-outline' }}
                          </v-icon>
                          </v-btn>
                      </v-img>
                      </v-item>
                  </v-col>
                  </v-row>
          </v-item-group>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-container>
  
</template>

<script>
  export default {
    data: () => ({
      items: [
        {
          src: 'story/01.jpeg',
        },
        {
          src: 'story/02.jpeg',
        },
        {
          src: 'story/03.jpeg',
        },
        {
          src: 'story/04.jpeg',
        },
      ],
      selected: [],
    }),
  }
</script>