<template>

  <v-container fluid>
      <v-col cols="12" justify="center" align="center">
        <div id="titulo" > TEAM </div>
      </v-col>
      <v-row dense>

        <v-col
          v-for="card in cards"
          :key="card.title"
          :cols="card.flex"
        >
          <v-card class="pt-2 pb-2">
            <v-img
              :src="card.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="240px"
              elevation="2"
              outlined
            >
              <v-card-title v-text="card.cargo" color="red"></v-card-title>
            </v-img>

            <v-card-actions>
              <v-card-text v-text="card.title"></v-card-text>
              <v-spacer></v-spacer>

              <v-btn icon link :href="card.facebook" target="_blank">
                <v-icon >mdi-facebook</v-icon>
              </v-btn>

              <v-btn icon link :href="card.instagram" target="_blank">
                <v-icon >mdi-instagram</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
        </v-container>
        
</template>

<script>
  export default {
    data: () => ({
      cards: [
        { title: 'ANDERSON LAZO', cargo: 'Director', facebook:'https://www.facebook.com/andersson.l.molina/', instagram:'https://www.instagram.com/anderssonlazo', src: '/team/ANDERSSON.jpg', flex: 4 },
        { title: 'FIORELLA ROSSI', cargo: 'Productor', facebook:'https://www.facebook.com/fiorella.rossimartinez/', instagram:'https://www.instagram.com/fiorellarossi_/', src: '/team/FIORELLA.jpg', flex: 4 },
        { title: 'ABIGAIL URTEAGA', cargo: 'Director of Photography', facebook:'https://www.facebook.com/aby.urteagacondori', instagram:'https://www.instagram.com/abi_urtc/?hl=es-la', src: '/team/ABIGAIL.jpg', flex: 4 },
        { title: 'NATALIA CORNEJO', cargo: 'Art Director', facebook:'https://www.facebook.com/natalia.c.salazar.1/', instagram:'https://www.instagram.com/nataliacornejo/', src: '/team/NATALIA.jpg', flex: 4 },
        { title: 'ESTRELLA CASTAÑEDA', cargo: 'Sound Director', facebook:'https://www.facebook.com/profile.php?id=100001650478028', instagram:'https://www.instagram.com/_estrellacast/', src: '/team/ESTRELLA.jpg', flex: 4 },
        { title: 'JHONATAN VILLALVA', cargo: 'Edition', facebook:'https://www.facebook.com/jhonatan.villalvamallqui', instagram:'https://www.instagram.com/jhonatan.villalva/', src: '/team/JHONATAN.jpg', flex: 4 },

      ],
    }),
  }
</script>
