<template>
  <v-container >
    <v-row class="pt-9">
        <v-col col="8"> 
            <youtube video-id="EqLgZtaCmJg" player-width="800" player-height="600"></youtube>
        </v-col>
        <v-col col="4"> 
            <v-img src="/afiche.jpg" width="320" height="600"/>
        </v-col>
    </v-row>
  </v-container>
</template>


<script>
import Vue from 'vue'
import VueYouTubeEmbed from 'vue-youtube-embed'
Vue.use(VueYouTubeEmbed)

export default {

}
</script>



