<template>
  <v-app>
    <Header />

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <Footer />
  </v-app>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Footer
  }
}
</script>


<style>
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.single-team .team-img {
    position: relative;
}

#titulo{
  color: #90273E;
  font-size: 35px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 25px;
}

#subtitulo{
  padding-top: 5px;
  padding-bottom: 25px;
  color: grey;
  font-size: 22px;
}
</style>
