<template>
  <v-row justify="center">
    <Teaser />
    <Story />
    <Elenco />
    <About />
    <Process />
    <Team />
    <Others />
  </v-row>
</template>

<script>
import Teaser from '~/components/Teaser.vue'
import Story from '~/components/Story.vue'
import Elenco from '~/components/Elenco.vue'
import About from '~/components/About.vue'
import Team from '~/components/Team.vue'
import Process from '~/components/Process.vue'
import Others from '~/components/Others.vue'


export default {
  components: {
    Story,
    Teaser,
    Team,
    About,
    Elenco,
    Process,
    Others
  }
}
</script>
